<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="static/css/tweetflow.css" rel="stylesheet">
    <title>Benson Lindsey - Projects</title>
</head>
<body>
<div class="container">
    <div class="jumbotron gray-box">
        <h1 class="text-center">Tweetflow</h1>
        <p>Live tweeting streamflow data for the olentangy river</p>
<a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/olentangy_data?ref_src=twsrc%5Etfw">Tweets by olentangy_data</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>


</div>


</body>
</html>